body{
  --ion-grid-width-xl: 850px;
}

@media screen and (min-width: 576px) {
  ion-app ion-header {
    top: 56px;
  }
  .header-md:after{
    background-image:none;
    border-bottom: solid 1px lightgray;
  }
  ion-app ion-content {
    top: 62px !important;
  }
  ion-app ion-tab-bar {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    justify-content: flex-end;
  }
  ion-tab-bar ion-label{
      font-size:16px;
  }
}
